@media (min-width: 320px) and (max-width: 575px) {
  .auth-txt-box {
    align-items: flex-start;
    margin-top: 2rem;
  }
  .auth-txt-box .title h1 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .auth-txt-box .auth-form-wrap .login-with-social .bttn {
    font-size: 0.875rem;
    padding: 1rem 0.5rem !important;
    width: 90%;
  }
  .root-main-wrapper .sidebar-wrap {
    transition: ease-out 0.2s;
    transform: translateX(-100%);
  }
  .root-main-wrapper .sidebar-wrap.show {
    transform: translateX(0%);
  }
  .root-main-wrapper .main-page-wrapper {
    margin-left: 0;
  }
  .root-main-wrapper .header-area {
    padding-left: 0;
    padding: 1rem;
    grid-template-columns: 65% 35%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user i {
    font-size: 0.675rem;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a {
    margin-left: 0.75rem;
  }
  .main-page-wrapper {
    margin-top: 76px !important;
    padding: 1.25rem;
  }

   /*login form first start*/
  .login-main-wrapper .login-form-wrap .login-from {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    padding: 1rem !important;
  }

  .login-main-wrapper .login-form-wrap {
    padding: 1.5rem 0rem 1rem 0rem !important;
  }
   /*login form first end*/
   /*login form second start*/
.login-main-wrapper .login-form-wrap .login-from .form-container-left {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.login-main-wrapper .login-form-wrap .login-from .form-container-right {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.form-group-right .button-option .option-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
/*login form second end*/
/*login form third start*/
.login-main-wrapper .login-form-wrap-second .form-group {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .form-group .maxmini-section {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .connect-social-section {
  grid-template-columns: repeat(1, 1fr);
}

.login-main-wrapper .login-form-wrap-second .login-form .personal-info .form-group-right{
  width: 100% !important;
}
/*login form third end*/
/*home after registration start*/
.search-job-wrap .search-job-container .search-list-wrapper {
  display: flex;
  flex-direction: column;
}

.search-job-wrap .search-job-container {
  padding: 1.5rem;
}
.regis-vacancy-list {
  width: 100% !important;
  height: 70px !important;
}
.regis-vacancy-list img {
  margin: 0 auto;
  width: 60%;
}

.latest-vacancy-container {
  margin-top: 0px !important;
}

.register-vacancy-employee-wrap {
  margin-top: 1rem !important;
}

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle input {
  width: 60% !important;
}

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle {
  justify-content: space-between;
}

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle .dropdown a {
  font-size: 14px;
}

.search-job-wrap .search-job-container .search-subtitle h2 {
  font-size: 24px;
}
.area-employee-title h2 {
  font-size: 24px !important;
}

.area-employee-title span {
  font-size: 24px !important;
}
.area-employee-title p {
  font-size: 16px !important;
}
.areas-line {
  margin-left: 135px !important;
  width: 50% !important;
}


.popular-vacancy-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem; 
}
.popular-vacancy-wrap {
  margin-top: 1rem;
}
.footer-menus-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
  gap: 1rem;
  padding: 0 20px;
}
.ftr-copy {
  flex-direction: column;
  justify-content: center;
}
.newslater-from {
  margin-top: 0.5rem;
  display: flex;
}
.newslater-from input {
  min-width: 10rem;
}
.ftr-social-icons ul li a {
  margin-left: 0.5rem;
}
.footer-social-box {
  flex-direction: column;
  justify-content: center;
}
.ftr-language-box ul li a {
  display: block;
  margin-right: 0.5rem;
}
.ftr-language-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.ftr-language-box {
  padding: 0 1rem;
}
.top-employee-wrap .top-employee-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.top-employee-wrap .top-employee-container .top-employee-title .top-employee-line img {
  margin-left: 180px;
  width: 50%;
}
.top-employee-wrap .top-employee-container .top-employee-title .top-employee-line-two img {
  margin-top: -6px;
  margin-left: 135px !important;
  width: 50;
}

.top-employee-wrap .top-employee-container .top-employee-title h2 {
    font-size: 24px;
}
.top-employee-wrap .top-employee-container .top-employee-title span {
  font-size: 24px;
}

.top-employee-wrap .top-employee-container .top-employee-subtitle p {
  font-size: 16px;
  padding: 0 10px;
}

.popular-line {
  margin-left: 100px !important;
}

.save-employee-title .save-employee-line .popular-line {
  margin-top: -5px;
  margin-left: -4px !important;
}

.saveJob-vacancy-box {
  margin-top: 1rem !important;
}

.popular-vacancy-wrap {
  margin-top: 1rem;
  margin: 1rem 1rem 0;
}

.company-logo {
  border-radius: 50%;
  width: 18%;
}
.heart-icon {
  width: 20px;
  height: 20px;
}
.popular-vacancy-wrap .vacancy-thumbnail button {
  width: 32px;
  height: 32px;
}
.popular-vacancy-wrap .vacancy-title-box .vacancy-list-item li {
  font-size: 14px !important;
}
.popular-vacancy-wrap .vacancy-title-box h4 {
  font-size: 20px;
}
.popular-vacancy-wrap .vacancy-title-box .vacancy-list-item {
  gap: 0.5rem;
}
.popular-vacancy-wrap .vacancy-title-box .btn-vacancy img {
  margin-top: 0.2rem;
}
.popular-vacancy-wrap .vacancy-title-box .btn-vacancy {
  font-size: 14px;
}
.latest-vacancy-btn button {
  font-size: 14px;
  height: 40px;
  padding: 14px 20px;
}
/*home after registration end*/ 
/*home page start*/
.top-employee-wrap .top-employee-container .vacancy-list-wrap .vacancy-list {
    width: 350px;
    height: 60px;
}

.top-employee-wrap .top-employee-container .vacancy-list-wrap .vacancy-list h5 {
  font-size: 20px;
}

.top-employee-wrap .top-employee-container .vacancy-list-wrap .vacancy-list .company-icon {
  width: 30% !important;
}

.top-employee-wrap .top-employee-container .vacancy-list-wrap {
  margin: 1.5rem;
  gap: 1rem;
}

.top-employee-wrap .top-employee-container .vacancy-list-wrap .vacancy-list {
  width: 100%;
}

/*job all offer page start*/
.vacancies-alert-wrap .vacancies-alert-title h3 {
  font-size: 16px;
}
.vacancies-alert-title {
  padding: 0 1rem;
  margin: 4rem 0 0;
}
.vacancies-alert-wrap .vacancies-alert-title a {
  padding: 8px 10px;
}

/*job details part start*/
.product-details-wrap .product-details-container .product-solution-wrap {
  padding: 0 20px 30px;
}
.product-solution-details h2 {
  font-size: 24px;
  line-height: 120%;
  padding-top: 1.5rem;
}
.product-solution-details ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-solution-title {
  gap: 1rem;
}
.product-solution-title a {
  font-size: 14px;
}
.product-solution-title .apply-btn-wrapper .apply {
  padding: 8px 16px;
  font-size: 14px;
  height: 40px;
}
.product-solution-title .apply-btn-wrapper .react-heart {
  width: 40px;
  height: 40px;
}
.product-solution-title .apply-btn-wrapper .apply img {
  width: 30%;
}

.product-solution-title .apply-btn-wrapper {
  gap: 0.4rem;
}
.product-solution-details ul li a {
  font-size: 16px;
}
.product-solution-details ul {
  gap: 0.5rem;
}
.offer-section-wrap {
  padding: 0.5rem 20px 0;
}
.offer-container {
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 2rem;
}
.offer-container .offer-box .offer-box-subtitle p {
  font-size: 14px;
}
.about-company-wrap {
  margin-top: 3rem !important;
}
.about-company-title h2{
  padding-top: 0;
}
/*job details part end*/

}

@media (min-width: 576px) and (max-width: 767px) {
  .root-main-wrapper .sidebar-wrap {
    transition: ease-out 0.2s;
    transform: translateX(-100%);
  }
  .root-main-wrapper .sidebar-wrap.show {
    transform: translateX(0%);
  }
  .root-main-wrapper .main-page-wrapper {
    margin-left: 0;
  }
  .root-main-wrapper .header-area {
    padding-left: 0;
    padding: 1rem;
    grid-template-columns: 70% 30%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user i {
    font-size: 0.675rem;
  }

    /*login form first start*/
  .login-main-wrapper .login-form-wrap .login-from {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    padding: 1rem !important;
  }

  .login-main-wrapper .login-form-wrap {
    padding: 1.5rem 0rem 1rem 0rem !important;
  }
   /*login form first end*/
     /*login form second start*/
.login-main-wrapper .login-form-wrap .login-from .form-container-left {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.login-main-wrapper .login-form-wrap .login-from .form-container-right {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.form-group-right .button-option .option-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
  /*login form second end*/
  /*login form third start*/
.login-main-wrapper .login-form-wrap-second .form-group {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .form-group .maxmini-section {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .connect-social-section {
  grid-template-columns: repeat(1, 1fr);
}
/*login form third end*/
/*home after registration start*/
.search-job-wrap .search-job-container .search-list-wrapper {
  display: flex;
  flex-direction: column;
}

.search-job-wrap .search-job-container {
  padding: 1.5rem;
}
.regis-vacancy-list {
  width: 280px !important;
  height: 70px !important;
  margin: 0 auto;
}
.latest-vacancy-container {
  margin-top: 0px !important;
}

.register-vacancy-employee-wrap {
  margin-top: 1rem !important;
}

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle input {
  width: 70% !important;
}

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle .dropdown a {
  font-size: 14px;
}

.search-job-wrap .search-job-container .search-subtitle h2 {
  font-size: 24px;
}

.popular-vacancy-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem; 
}
.popular-vacancy-wrap {
  margin-top: 1rem;
}
.footer-menus-wrap {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1rem;
  gap: 1rem;
  padding: 0 20px;
}
.ftr-copy {
  flex-direction: column;
  justify-content: center;
}
.newslater-from {
  margin-top: 0.5rem;
  display: flex;
}
.newslater-from input {
  min-width: 25rem;
}
.ftr-social-icons ul li a {
  margin-left: 0.5rem;
}
.footer-social-box {
  flex-direction: column;
  justify-content: center;
}
.ftr-language-box ul li a {
  display: block;
  margin-right: 0.5rem;
}
.ftr-language-box ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.ftr-language-box {
  padding: 0 1rem;
}
.top-employee-wrap .top-employee-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.top-employee-wrap .top-employee-container .top-employee-title .top-employee-line img {
  margin-left: 0px;
}

.top-employee-wrap .top-employee-container .top-employee-title h2 {
    font-size: 24px;
}
.top-employee-wrap .top-employee-container .top-employee-title span {
  font-size: 24px;
}

.top-employee-wrap .top-employee-container .top-employee-subtitle p {
  font-size: 16px;
  padding: 0 10px;
}

.popular-line {
  margin-left: 100px !important;
}

.save-employee-title .save-employee-line .popular-line {
  margin-top: -5px;
  margin-left: -4px !important;
}

.saveJob-vacancy-box {
  margin-top: 1rem !important;
}

.popular-vacancy-wrap {
  margin-top: 1rem;
  margin: 1rem 1rem 0;
}

.company-logo {
  border-radius: 50%;
  width: 16% !important;
}
.heart-icon {
  width: 20px;
  height: 20px;
}
.popular-vacancy-wrap .vacancy-thumbnail button {
  width: 32px;
  height: 32px;
}
.popular-vacancy-wrap .vacancy-title-box .vacancy-list-item li {
  font-size: 14px !important;
}
.popular-vacancy-wrap .vacancy-title-box h4 {
  font-size: 20px;
}
.popular-vacancy-wrap .vacancy-title-box .vacancy-list-item {
  gap: 0.5rem;
}
.popular-vacancy-wrap .vacancy-title-box .btn-vacancy img {
  margin-top: 0.2rem;
}
.popular-vacancy-wrap .vacancy-title-box .btn-vacancy {
  font-size: 14px;
}
.latest-vacancy-btn button {
  font-size: 14px;
  height: 40px;
  padding: 14px 20px;
}
/*home after registration end*/      

}
@media (min-width: 768px) and (max-width: 991px) {
  .root-main-wrapper .sidebar-wrap {
    transition: ease-out 0.2s;
    transform: translateX(-100%);
  }
  .root-main-wrapper .sidebar-wrap.show {
    transform: translateX(0%);
  }
  .root-main-wrapper .main-page-wrapper {
    margin-left: 0;
  }
  .root-main-wrapper .header-area {
    padding-left: 0;
    padding: 1rem;
    grid-template-columns: 70% 30%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .root-main-wrapper .header-area .header-icons-box ul li a.user i {
    font-size: 0.675rem;
  }
  /*login form first start*/

  .login-main-wrapper .login-form-wrap .login-from {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    padding: 1rem !important;
  }

  .login-main-wrapper .login-form-wrap .login-from .form-group-left {
    width: 100% !important;
  }

  .login-main-wrapper .login-form-wrap {
    padding: 1.5rem 0rem 1rem 0rem !important;
  }
  
  /*login form first end*/
  /*login form second start*/
.login-main-wrapper .login-form-wrap .login-from .form-container-left {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.login-main-wrapper .login-form-wrap .login-from .form-container-right {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  gap: 1.5rem;
}
.form-group-right .button-option .option-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
/*login form second end*/
/*login form third start*/
.login-main-wrapper .login-form-wrap-second .form-group {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .form-group .maxmini-section {
  width: 100%;
}
.login-main-wrapper .login-form-wrap-second .connect-social-section {
  grid-template-columns: repeat(1, 1fr);
}
/*login form third end*/

.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle {
  justify-content: space-between !important;
}
.search-job-wrap .search-job-container .search-list-wrapper .search-list-middle input {
  width: 38% !important;
}

/*after register menu in footer*/
.footer-menus-wrap {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 28% 18% 18% 20% 18%;
  margin-top: 2rem;
}

.ftr-copy {
  padding: 0 1rem;
}
.ftr-language-box ul li a {
  display: block;
  margin-right: 2rem;
}

.ftr-language-box {
  padding: 0 1rem;
}

.footer-social-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
  .auth-txt-box {
    align-items: flex-start;
    margin-top: 2rem;
  }
  .auth-txt-box .auth-form-wrap .login-with-social .bttn {
    width: 95%;
  }
  .root-main-wrapper .sidebar-wrap {
    width: 16.5rem;
  }
  .header-area {
    padding-left: 17.5rem;
    grid-template-columns: 85% 15%;
  }
  .main-page-wrapper {
    margin-left: 264px;
  }
  /*login  start*/
  .search-job-wrap .search-job-container .search-list-wrapper .search-list-middle {
    justify-content: space-between;
  }
  .search-job-wrap .search-job-container .search-list-wrapper .search-list-middle input {
    width: 56% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {


}

/* @media (min-width: 1351px) {


} */